/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css?family=Alice:Sunshiney:200,300,400,500,600,700&display=swap');

body {
    font-family: "Alice", sans-serif;
    font-size: 600;    
    background-image: url("../images/bg_med.png");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
}

.uppercase {
    text-transform: uppercase; 
}

#title {
    text-align: center;
}

/*-- Game Containers  --- */

#main {
    display: none;
}

#player-board {
    height: max-content;
    width: 60%;
    align-content: center;
    background-color: greenyellow;
    border: black solid 0.2em;
    
    margin-top: 2em;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#game-board-hard {
    height: max-content;
    width: max-content;
    padding: 2% 5%;
    background-color: #cfb747;
    border: black solid 0.2em;
    border-radius: 3%;
    align-content: center;
    margin-top: 0.5em;
    color: black;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



/*----  Level & Game cards ---*/

.info-card {
    height: 80px;
    width: 100px;
    background-color: royalblue;
    border: black solid 1px;
    margin: 15px;
    font-size: 10px;
    font-family: 'Alice', Courier, monospace;
    color: black;
}

.game-card {
    height: 150px;
    width: 150px;
    background-color: royalblue;
    border: black solid 1px;
    margin: 15px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}


.level-card {    
    height: 9em;
    width: 9em;
    margin: 1em;
    padding: 0.2em;
    border: black solid 1px;
}

.level-card-title {
    font-family: "Alice", sans-serif;
    text-align: center;
    font-size: 600;
}

/*---- Modal ----*/

#myModal {
    height: 90%;
    width: 80%;
    background-color: #F0DEB4;
    color: #C70018;
    border: #3F2800 solid 0.2em;
    
    position: absolute;
    display: block; 
    margin-top: 1.5em;
     margin-left: auto;
    margin-right: auto;
    

    
}

#player-name{
    margin-left: auto;
    margin-right: auto;
}


/*----------------------------------- MEDIA QUERIES */
	@media screen and (max-width: 992px) {
	  /*phones and tablets*/
	.info-card {
        height: 60px;
        width: 75px;
        margin: 10px;
        font-size: 8px;} 
    }

	@media screen and (max-width: 767px) {
	  /*phones*/
    .info-card {
        height: 50px;
        width: 65px;
        margin: 8px;
        font-size:6px;} 
    }
	
	@media screen and (max-width: 576px) {
	  /*small phones*/
