/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css?family=Alice:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunshiney:200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;  
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Alice", sans-serif;
    font-size: 15px;   
    background-image: url("../images/bg_med_02.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
}

.uppercase {
    text-transform: uppercase; 
}

#avatar {
  width: 100px;
  height: 100px;
  margin: 0.3rem;
  border:  #cfb747 solid 1px;
  border-radius: 5%;
}

.hidden {
    display: none;
}

/*-- Game Containers  --- */
#main {
    display: none;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*-- Player info board -- */
#player-board {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 40%;
    min-height: 40%;
    padding: 5px 15px;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: rgb(211, 231, 31);
    border: black solid 0.2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    display: none;
    top: 50%;
    left: 50%;
}

#score-info {
    width: 100px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#level-info {
    width: 250px;
    float: right;
    vertical-align: middle;
}

.info-card {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 50px;
    background-color: rgb(124, 139, 185);
    border: black solid 1px;
    padding:3px;
    float: left;
    margin: auto;
}

.level-button {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0.2em;
    border: black solid 0.5px;
    border-radius: 8%;
    margin: none;
}

#small_rabbit {
    height: 75px;
    width: 75px;
    margin: 10px 5px 5px 15px;
}

#score-info {
    border: black solid 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.score-title {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

#score {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.score-box {
    margin: 0;
    padding: 0;
}

/* -- Game card boards -- */
#game-board-easy,
#game-board-medium,
#game-board-hard {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1% 5%;
    background-color: #cfb747;
    border: black solid 0.2em;
    border-radius: 3%;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 0.5em;
    color: black;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    display: none;
}

.dashboard {
    margin: 0 auto;
    border: #cfb747 ridge 1px;
    align-items: center;
    padding: 5px 0;
}

.board {
    max-width: 100%; 
}

/* Text itself - numbers  */
.click-counter {   
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    border: #3F2800 double 1px;
    vertical-align: middle;
    margin: auto;
    padding: 0;
}

.clicks-counter {
    background-color: blue;
}


.btn-info,
.btn-reset {
    margin: auto;
}

/*----  Level & Game cards ---*/
.levels {
    margin-top: 40px;
    max-width: 100%;
}

.card-holder {
    align-self: middle;
}
/*  Hide card images */
#card-images {
    display: none;
}

.easy-card {
    height: 150px;
    width: 150px;
}

.medium-card {
    height: 135px;
    width: 135px;
}

.hard-card {
    height: 125px;
    width: 125px;
}

.game-card {
    background-color: royalblue;
    border: black solid 1px;
    border-radius: 10%;
    margin: 15px;
}
    
.game-card:hover  {
    border: white solid 2px;
}

.info-level-image,
.level-image,
.card-image  {
    max-width: 100%;
    max-height: 100%;
    border-radius: 9.5%;
}

.info-level-image {
    height: 50px;
    width: 50px;
}

.level-card {    
    height: 9em;
    width: 9em;
    padding: 0.2em;
    margin: 0 5px;
    border: black solid 1px;
    border-radius: 10%;
}

.level-card-title {
    font-family: "Alice", sans-serif;
    text-align: center;
    font-size: 7px;
}

/*---- Main page Modal ----*/
.modal-title {
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    
}

/* Fixing non working links in modal */
.modal-dialog {
    pointer-events: all;
    vertical-align: middle;
}

#myModal {    
    height: -webkit-max-content;    
    height: -moz-max-content;    
    height: max-content;
    min-height: 400px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-height: 100%;
    max-width: 100%;
    display: block;
    background-color: #F0DEB4;
    color: rgb(177, 4, 24);
    border: #3F2800 solid 0.2em;
    border-radius: 10%;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
#select-level {
    letter-spacing: 2px;
    margin-bottom:10px;
}

#easy, 
#medium,
#hard {
    margin-top: 5px;
}
/*-- Colors to convey difficulty levels */
#easy, 
#easy-sm {
    background-color: rgba(25, 207, 25, 1);
}

#medium,
#medium-sm {
    background-color: rgb(255, 251, 24);
}

#hard,
#hard-sm {
    background-color: rgb(255,0,0);
}

#easy:hover,
#medium:hover,
#hard:hover,
#easy-sm:hover,
#medium-sm:hover,
#hard-sm:hover {
    background-color: rgb(247, 243, 243);
}

#player-name {
    margin-left: auto;
    margin-right: auto;
}

/*-- Modals: WIN, LOSE, INFO, LevelUp, Final Win */
.modal {
    vertical-align: middle;
}

.btn-modal {
    font-size: 45px;
    color: white;
}

#main-win-title {
    margin-top: 10px;
}

.win-modal-bgr {
    background-image: url("../images/modal_bgr_win.jpg");
    background-size: cover;
    background-position: center center;    
    border-radius: 10%;
}

#lose-modal {
    padding-right: 0;
    margin: 0;
}

.lose-modal-bgr {
    background-image: url("../images/modal_bgr_lose.jpg");
    background-size: cover;
    background-position: center center;    
    border-radius: 10%;
}

.modal-lose-title,
.modal-win-title, 
.level-up-title, 
.final-win-title {
    font-family: "Alice", sans-serif;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    color: white;
}

.score-win-title,
.score-lose-title {
    font-family: "Alice", sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: white;
    margin: 0 5px;
}

.score-lose-title,
.modal-lose-title {
    color: rgb(247, 237, 231); 
}

#level-up-img,
#final-win-img {
    height: 200px;
    width: auto;
    border-radius: 10%;
}

.rules-list {
    font-size: 18px;
    color:rgba(0, 0, 0, 0.678);
    
}

.info-modal-bgr {
    background-color: #cfb747;
    border-radius: 10%;
}

.modal-title-box {
    margin-top: 2em;
    margin-bottom: 1em;
}

#rules {
    padding: 0;
}

#rules-modal-title {
    color: white;
    font-size: 1.8em;
}

.level-up-bgr,
.final-modal-bgr {
    background-image: url("../images/modal_bgr.jpg");
    background-size: cover;
    background-position: center center;    
}

#you-win {
    color: rgb(17, 0, 255);
    font-weight: bold;
}

/* Footer modal */
#btn-footer {
    font-size: 2em;
    color: red;
    top: 50%;
    left: 50%;
    display: none;
}

#footer {
    padding: 0;
    position: fixed;
}

#footer .modal-dialog {
    width: 90%;
    
}

#footer p {
    font-size: 1em;
}

.footer {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 10%;
    border: #ac942b solid 0.5px;
}

.vertical-aligned {
    vertical-align: middle;
}


.footer-box {
    margin: 0;
    padding: 0;
    align-items: middle;
}

#btn-close-copyright {
    color: white;
}

#copy-modal-title {
    color: white;
    text-align: center;
    vertical-align: middle;
}

#rabbit-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pull-right{
  float:right;
}

#disclaimer {
    font-size: 1px;
}

/*  Difficulty level Bubbble info on hover above level image on the main page */
/* Initial code is taken from https://speckyboy.com/custom-hover-click-effects-css-javascript/ and modified */
dfn { 
  padding: 0 0.4em;
  font-family: "Alice", sans-serif;
  font-style: normal;
  position: relative;
  }

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 0; left: 12px;
  opacity: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  /* background: rgba(0,0,0,0.8); */
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  -webkit-transition: opacity 250ms, top 250ms;
  -o-transition: opacity 250ms, top 250ms;
  transition: opacity 250ms, top 250ms;
}

dfn::before {
  content: '';
  display: block;
  position: fixed;
  top: 0px; left: 15px;
  opacity: 0;
  width: 0; height: 0;
} 

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 2px;}
dfn:hover::before {top: 15px;} 
/* ABOVE - Initial code is taken from https://speckyboy.com/custom-hover-click-effects-css-javascript/ and modified */



/*----------------------------------- MEDIA QUERIES */
@media screen and (max-width: 1024px) {
      /*bigger tablets*/
    #myModal {
        max-width: 95%;
    }

    #small_rabbit {
    height: 75px;
    width: 75px;
    margin: 10px 5px 5px 15px;
    }

    #game-board-easy,
    #game-board-medium,
    #game-board-hard {
        width: 85%;
        height: auto;
        padding: 2% 2.5%;
    }



    .info-card {
        height: 60px;
        width: 75px;
        margin: 10px;
        font-size: 8px;} 
    }

.easy-card {
    height: 150px;
    width: 150px;
}

.medium-card {
    height: 135px;
    width: 135px;
}

.hard-card {
    height: 125px;
    width: 125px;
}

@media screen and (max-width: 768px) {
      /* bigger phones and tablets */
    #game-board-easy,
    #game-board-medium,
    #game-board-hard {
        width: 70%;
        height: auto;
        padding: 2% 2.5%;
    }
    .easy-card {
        height: 150px;
        width: 150px;
    }
    .medium-card,
    .hard-card {
        height: 125px;
        width: 125px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #myModal {
        max-width: 95%;
    }

    .info-card {
        height: 50px;
        width: 65px;
        margin: 8px;
        font-size:6px;} 
    }

    h4 {
        font-size: 17px;
    }

@media screen and (max-width: 576px) {
    /*mobile phones*/
    #game-board-easy,
    #game-board-medium,
    #game-board-hard {
        width: 95%;
        height: auto;
        padding: 2% 2.5%;
    }
    .easy-card {
        height: 130px;
        width: 130px;
    }
    .medium-card,
    .hard-card {
        height: 100px;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
    h2 {
        font-size: 25px;
        text-align: justify;
    }
    h4 {
        font-size: 18px;
        text-align: justify;
    }
    #footer .modal-dialog {
        width: 60%;
    }
}

@media screen and (max-width: 375px) {
    /*small phones*/
    #myModal {
        max-width: 95%;
    }
    h2 {
        font-size: 22px;
        text-align: justify;
    }
    h4 {
        font-size: 16px;
        text-align: justify;
    }
    #avatar {
        width: 80px;
        height: 80px;
        margin: 0.3rem;
        border:  #cfb747 solid 0.5px;
        border-radius: 10%;
    }

    .level-card {
        height: 120px;
        width: 120px;
        margin: 10px 10px;
    }
    /* Reposition Level name showing on touch, initial page, for touch screens */
    dfn::after {    
        top: 0; left: 14px;
    }
    dfn:hover::after {top: 10px;}
    
    #player-board {
        width: 95%;
    }

    .score-title {
        font-size: 15px;
        margin-top: 15px;
    }
    #score {
        font-size: 25px;
        margin: 0;
    }
    #game-board-easy,
    #game-board-medium,
    #game-board-hard {
        width: 95%;
        height: auto;
        padding: 2% 2.5%;
    }
    .easy-card {
        height: 110px;
        width: 110px;
    }
    .medium-card,
    .hard-card {
        height: 87px;
        width: 87px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .click-counter {
        font-size: 1.2em;
    }

    #small_rabbit {
        height: 55px;
        width: 55px;
        margin: 7px 3px 5px 10px;
    }
    #lose-image {
        width: 250px;
        height: auto;
    }

    #footer .modal-dialog {
        width: 60%;
    }

    .footer {
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 325px) {
    /*small phones*/
    .level-card{
        height: 100px;
        width: 100px;
    }

    .easy-card {
        height: 95px;
        width: 95px;
    }
    .medium-card,
    .hard-card {
        height: 70px;
        width: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #small_rabbit {
        height: 45px;
        width: 45px;
        margin: 4px 1px 3px 7px;
        justify-content: center;
    }
}